target/
src/
test/
dist/test/
node_modules/

dist/jest.config.js
.reports/jqa/ts-output.json
jqassistant/

.eslintignore
.eslintrc.cjs
.prettierignore
.prettierrc.json
jest.config.js
typescript.iml
node-debug.log
pom.xml
