/.idea
*.iml
*.ipr
*~
*.log
.DS_Store
.java-version
*.backup

# Maven related files and directories
target
/.mvn

# TS
**/node_modules/
**/tmp/
**/dist/
**/jqassistant/store/
**/jqassistant/report/
**/tsconfig.tsbuildinfo

# jQA
**/.reports/jqa/

# DrawIO
*.drawio.bkp
