/.idea
*.iml
*.ipr
*~
*.log
.DS_Store
.java-version
*.backup

# Maven related files and directories
target
/.mvn

# TS
**/node_modules/
**/tmp/
**/dist/
**/jqassistant/store/

# jQA
**/.reports/jqa/
!java/src/test/resources/java-it-sample-project/.reports/jqa/
